.contact {
  padding-top: 5px;
}

#contact{
    padding-bottom: 5px;
}

#contactLeft{
    display: flex;
    padding-bottom: 5px;
}

.contact p {
  margin-bottom: 0;
  color: #bfbfb9;
  font-size: 13px;
}

.mapIcon {
  width: 17px;
  color: #c5a2a2;
  margin-right: 12px;
}

.phoneIcon {
  width: 17px;
  color: #c5a2a2;
  margin-right: 12px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon p {
  color: #bfbfb9;
}

.icon a {
  width: 13px;
  margin: 0 15px;
}

.hr {
  width: 96%;
  margin: auto;
  margin-top: 10px;
}

@media (min-width: 1620px) {
  .contact {
    padding-top: 5px;
  }

  #contact{
      display: flex;
  }
  
  #contactLeft{
      display: flex;
  }

  .contact p {
    margin-bottom: 0;
    color: #bfbfb9;
    font-size: 13px;
  }

  .mapIcon {
    width: 17px;
    color: #c5a2a2;
    margin-right: 12px;
  }

  .phoneIcon {
    width: 17px;
    color: #c5a2a2;
    margin-right: 12px;
  }

  .icon {
    display: flex;
    float: right;
    align-items: center;
  }

  .icon p {
    color: #bfbfb9;
  }

  .icon a {
    width: 13px;
    margin: 0 15px;
  }

  .hr {
    width: 96%;
    margin: auto;
    margin-top: 10px;
  }
}
